@import "normalize";

@import "fonts";

//* VARIABLES
$bgColor: #3967b2;
$linkColor: #8c8fce;
$linkHover: #7376bf;
$fontStack: 'CooperLtBTBoldItalic', Georgia, Times, 'Times New Roman', serif;
$masterPrefix: -webkit- -ms- -moz- -o- null;
$basicPrefix: -webkit- -moz- null;


* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: 62.5%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $bgColor;
  font-family: $fontStack;
}

.fonzie {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 83%;
  min-height: 180px;
  min-width: 320px;
  margin: 0 17% 0 0;
  &:after {
    display: block;
    content: '';
  }
  .landscape & {
    background: transparent url(../img/fonzie/1500x1200.png) bottom left no-repeat;
    background-size: contain;
    max-height: 1200px;
    max-width: 1500px;
    &:after {
      padding-top: 80%;
    }
  }
  .portrait & {
    background: transparent url(../img/fonzie/1320x1575.png) bottom left no-repeat;
    background-size: contain;
    max-height: 1320px;
    max-width: 1575px;
    &:after {
      padding-top: 119%;
    }
  }
}

#tweet-bubble {
  position: absolute;
  top: 0;
  right: 0;
  .landscape & {
    padding: 7%;
    height: 45%;
    width: 59%;
  }
  .portrait & {
    padding: 8%;
    height: 35%;
    width: 66.66666666%;
  }
}

#tweet {
  color: #444;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  &.font-sized {
    align-items: center;
    display: flex;
  }
  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: $linkColor;
    }
    &:hover,
    &:active {
      color: $linkHover
    }
  }
  i {
    font-family: serif;
    font-style: normal;
  }
}
