@import "normalize";

@font-face {
  font-family: 'CooperLtBTBoldItalic';
  src: url('../fonts/cooper_bold_italic_bt-webfont.eot');
  src: local('☺'), url('../fonts/cooper_bold_italic_bt-webfont.woff') format('woff'), url('../fonts/cooper_bold_italic_bt-webfont.ttf') format('truetype'), url('../fonts/cooper_bold_italic_bt-webfont.svg#webfontxEDKdNPh') format('svg');
  font-weight: normal;
  font-style: normal;
}

//* VARIABLES
$bgColor: #A63726;
$linkColor: #f37d1e;
$linkHover: #e36500;
$fontStack: 'CooperLtBTBoldItalic', Georgia, Times, 'Times New Roman', serif;
$masterPrefix: -webkit- -ms- -moz- -o- null;
$basicPrefix: -webkit- -moz- null;

//* MISC MIXINS
@mixin box-sizing($var) {
  -webkit-box-sizing:$var;
  -moz-box-sizing:$var;
  box-sizing:$var;
}


//* FLEXBOX
@mixin flex($grow:null,$shrink:null,$width:null) {
  @if $grow != null {
    @if $width != null {
      -webkit-box-flex:$grow;
      width:$width;
      -moz-box-flex:$grow $shrink $width;
      -ms-flex:$grow $shrink $width;
      -webkit-flex:$grow $shrink $width;
      flex:$grow $shrink $width;
    } @else {
      -webkit-box-flex:$grow;
      -moz-box-flex:$grow $shrink;
      -ms-flex:$grow $shrink;
      -webkit-flex:$grow $shrink;
      flex:$grow $shrink;
    }
  } @else {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
  }
}

@mixin flex-align-content($var) {
  -webkit-align-content:$var;
  -moz-align-content:$var;
  align-content:$var;
}

@mixin flex-align-items($var) {
  @if $var == "flex-end" {
    -webkit-box-align:end;
    -ms-flex-align:end;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  } @else if $var == "flex-start" {
    -webkit-box-align:start;
    -ms-flex-align:start;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  } @else {
    -webkit-box-align:$var;
    -ms-flex-align:$var;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  }
}

@mixin flex-align-self($var) {
  -webkit-align-self:$var;
  align-self:$var;
}

@mixin flex-direction($var) {
  $orient: -webkit- -moz-;
  $box: -webkit- -moz-;
  $flex: -webkit- -ms- -moz- -o-;

  @each $pfx in $box {
    #{$pfx}box-direction:normal;
  }
  @if $var == "column" {
    @each $pfx in $orient {
      #{$pfx}box-orient:vertical;
    }
    @each $pfx in $masterPrefix {
      #{$pfx}flex-direction:$var;
    }
  } @else if $var == "row" {
    @each $pfx in $orient {
      #{$pfx}box-orient:horizontal;
    }
    @each $pfx in $masterPrefix {
      #{$pfx}flex-direction:$var;
    }
  }
}

@mixin flex-justify-content($var) {
  @if $var == "flex-start" {
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else if $var == "flex-end" {
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else if $var == "space-between" {
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else {
    -webkit-box-pack:$var;
    -ms-flex-pack:$var;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  }
}

@mixin flex-order($var) {
  -webkit-box-ordinal-group:$var;
  -moz-box-ordinal-group:$var;
  -ms-flex-order:$var;
  -webkit-order:$var;
  order:$var;
}

@mixin flex-wrap($var) {
  -webkit-flex-wrap:$var;
  -ms-flex-wrap:$var;
  flex-wrap:$var;
}


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: 62.5%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $bgColor;
  font-family: $fontStack;
  &.stealth {
    background-color: #999;
    #chachi {
      background-image: url(../img/stealth-1760x1100.png);
    }
    #tweet-container {
      background-color: rgba(127,127,126,.5);
    }
    #tweet {
      background-color: magenta;
    }
  }
}

#chachi {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 95%;
  min-height: 180px;
  min-width: 320px;
  margin: 0 5% 0 0;
  @include box-sizing(border-box);
  &:after {
    display: block;
    content: '';
  }
  .landscape & {
    background: transparent url(../img/chachi-1760x1100.png) bottom right no-repeat;
    background-size: contain;
    max-height: 1100px;
    max-width: 1760px;
    &:after {
      padding-top: 62.5%;
    }
  }
  .portrait & {
    background: transparent url(../img/chachi-1320x1375.png) bottom right no-repeat;
    background-size: contain;
    max-height: 1320px;
    max-width: 1375px;
    &:after {
      padding-top: 104%;
    }
  }
}

#tweet-bubble {
  position: absolute;
  top: 0;
  right: 0;
  @include box-sizing(border-box);
  .landscape & {
    padding: 6%;
    height: 50%;
    width: 50%;
  }
  .portrait & {
    padding: 8%;
    height: 40%;
    width: 66.66666666%;
  }
}

#tweet {
  color: #444;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
  &.font-sized {
    @include flex();
    @include flex-align-items(center);
  }
  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: $linkColor;
    }
    &:hover,
    &:active {
      color: $linkHover
    }
  }
  i {
    font-family: serif;
    font-style: normal;
  }
}



/* Media Queries */

/* iPhone portrait */
@media only all and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait),
only all and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {

}

/* iPhone landscape */
@media only all and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape),
only all and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {

}

/* mobile retina landscape */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: landscape),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: landscape),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px)	and (orientation: landscape),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: landscape),
only screen and (                min-resolution: 192dpi) and (min-width: 320px)	and (orientation: landscape),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px)	and (orientation: landscape) {

}

/* mobile retina portrait */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: portrait),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: portrait),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px)	and (orientation: portrait),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px)	and (orientation: portrait),
only screen and (                min-resolution: 192dpi) and (min-width: 320px)	and (orientation: portrait),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px)	and (orientation: portrait) {

}

/* tablet and desktop retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 569px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 569px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 569px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 569px),
only screen and (                min-resolution: 192dpi) and (min-width: 569px),
only screen and (                min-resolution: 2dppx)  and (min-width: 569px) {

}