@import "normalize";

@import "fonts";

@import "global";

//* COLOR VARIABLES
$bgColor: #e4b012;
$linkColor: #f37d1e;
$linkHover: #e36500;

body {
  background-color: $bgColor;
}

.richie {
  margin: 0 0 0 5%;
  width: 95%;
  .landscape & {
    background: transparent url(../img/richie/1650x1100.png) bottom right no-repeat;
    background-size: contain;
    max-height: 1100px;
    max-width: 1650px;
    &:after {
      padding-top: 67%;
    }
  }
  .portrait & {
    background: transparent url(../img/richie/1320x1375.png) bottom right no-repeat;
    background-size: contain;
    max-height: 1320px;
    max-width: 1375px;
    &:after {
      padding-top: 104%;
    }
  }
}

#tweet-bubble {
  left: 0;
  .landscape & {
    padding: 6%;
    height: 50%;
    width: 53%;
  }
  .portrait & {
    padding: 8%;
    height: 40%;
    width: 66.66666666%;
  }
}

#tweet {
  a {
    &:link,
    &:visited {
      color: $linkColor;
    }
    &:hover,
    &:active {
      color: $linkHover
    }
  }
}
