<div id="chachi">
	<div id="tweet-bubble">
		<!--span id="tweet"><%# @twitter_status.tweet.first.text %></span-->
		<span id="tweet">Let my inspiration flow, in token lines suggesting rhythm that will not forsake me till my tale is told and done. #TerrapinStation</span>
	</div>
</div>
<!-- Let my inspiration flow, in token lines suggesting rhythm that will not forsake me till my tale is told and done. #TerrapinStation -->